<!DOCTYPE html>
<html>
<head>
    <title>TDL Project Generator 1</title>
    <link rel="stylesheet"
          href="/css/bootstrap-sts.min.css"/>
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand"
               href="https://spring.io">
                Spring
            </a>
            <ul class="nav">
                <li>
                    <a href="/" title="Download a template project or build file with some very basic content.">
                        Projects
                    </a>
                </li>
                <li>
                    <a href="/spring.zip" title="Download the spring CLI as a zip distribution (unpack and run bin/spring on a command line).">
                        Download
                    </a>
                </li>
                <li>
                    <a href="/install.sh" title="Installer for the spring CLI command on Un*x-like system (should work on Linux, Mac or Cygwin). Curl this link and pipe to bash, or download the script and run it.">
                        Installer
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <h1>TDL Project Generator</h1>
    <div>
        <form id="form" action="/starter.zip" method="get">
            <label for="groupId">Group:</label> <input id="groupId" type="text" value="{{groupId.content}}" name="groupId"/>
            <label for="artifactId">Artifact:</label> <input id="artifactId" type="text" value="{{artifactId.content}}" name="artifactId"/>
            <label for="name">Name:</label> <input id="name" type="text" value="{{name.content}}" name="name"/>
            <label for="name">Description:</label> <input id="description" type="text" value="{{description.content}}" name="description"/>
            <label for="packageName">Package Name:</label> <input id="packageName" type="text" value="{{packageName.content}}" name="packageName"/>
            <label>Styles:</label>
            {{#dependencies.content}}
            {{#content}}
            <label class="checkbox">
                <input type="checkbox" name="style" value="{{id}}"/>
                {{name}}
            </label>
            {{/content}}
            {{/dependencies.content}}
            <label>Type:</label>
            {{#types.content}}
            <label class="radio">
                <input type="radio" name="type" value="{{stsId}}"{{#default}} checked="true"{{/default}} onclick="javascript:this.form.action='{{action}}'"/>
                {{name}}
            </label>
            {{/types.content}}
            <label>Packaging:</label>
            {{#packagings.content}}
            <label class="radio">
                <input type="radio" name="packaging" value="{{id}}"{{#default}} checked="true"{{/default}}/>
                {{name}}
            </label>
            {{/packagings.content}}
            <label>Java Version:</label>
            {{#javaVersions.content}}
            <label class="radio">
                <input type="radio" name="javaVersion" value="{{id}}"{{#default}} checked="true"{{/default}}/>
                {{name}}
            </label>
            {{/javaVersions.content}}
            <label>Language:</label>
            {{#languages.content}}
            <label class="radio">
                <input type="radio" name="language" value="{{id}}"{{#default}} checked="true"{{/default}}/>
                {{name}}
            </label>
            {{/languages.content}}
            <label>Spring Boot Version:</label>
            {{#bootVersions.content}}
            <label class="radio">
                <input type="radio" name="bootVersion" value="{{id}}"{{#default}} checked="true"{{/default}}/>
                {{name}}
            </label>
            {{/bootVersions.content}}
            <button name="generate-project" type="submit" class="btn">Generate</button>
        </form>
    </div>
</div>
</body>
</html>
